In [1]:
%ls

cleaning.ipynb           final_cleaned.csv        result.csv
cleaning2.ipynb          final_df213.csv
cleaning3.ipynb          more_cols_less_rows.csv

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('more_cols_less_rows.csv')

In [4]:
df = df.drop(columns = ['Unnamed: 0'])

In [5]:
cls = []
for col in df.columns:
    if 'circuit_id' in col:
        cls.append(col)

In [6]:
df2 = pd.read_csv('result.csv')
df2 = df2[['season', 'round', 'driver', 'direction']]
#df2

In [7]:
df3 = df.merge(df2, on = ['season', 'round', 'driver'], how='inner')

In [8]:
df3['circuit_id_long_beach'] = np.zeros(df3.shape[0])

In [9]:
df3.loc[(df3['season']==1983) & (df3['round']==2), 'circuit_id_long_beach'] = 1

In [10]:
df3.loc[(df3['season']==1983) & (df3['round']==2)]['circuit_id_long_beach']

1558    1.0
2753    1.0
2754    1.0
2755    1.0
2756    1.0
2757    1.0
2758    1.0
2759    1.0
2760    1.0
2761    1.0
2762    1.0
2763    1.0
2764    1.0
2765    1.0
2766    1.0
2767    1.0
2768    1.0
2769    1.0
2770    1.0
2771    1.0
2772    1.0
2773    1.0
2774    1.0
2775    1.0
2776    1.0
2777    1.0
Name: circuit_id_long_beach, dtype: float64

In [11]:
df3.loc[df3['circuit_id_long_beach']==1,'number_of_laps'] = 85
df3.loc[df3['circuit_id_long_beach']==1,'circuit_length'] = 3.167

In [12]:
df3.loc[df3['circuit_id_long_beach']==1]['number_of_laps']

1558    85.0
2753    85.0
2754    85.0
2755    85.0
2756    85.0
2757    85.0
2758    85.0
2759    85.0
2760    85.0
2761    85.0
2762    85.0
2763    85.0
2764    85.0
2765    85.0
2766    85.0
2767    85.0
2768    85.0
2769    85.0
2770    85.0
2771    85.0
2772    85.0
2773    85.0
2774    85.0
2775    85.0
2776    85.0
2777    85.0
Name: number_of_laps, dtype: float64

In [13]:
df3

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,constructor_tyrrell,constructor_williams,number_of_laps,circuit_length,number_of_drs,circuit_id_miami,circuit_id_jeddah,circuit_id_qatar,direction,circuit_id_long_beach
0,1992,16,False,False,False,False,True,mansell,1,20,...,0,1,81.0,3.780,3.0,0.0,0.0,0.0,c,0.0
1,1995,17,False,False,False,False,False,michael_schumacher,3,15,...,0,0,81.0,3.780,3.0,0.0,0.0,0.0,c,0.0
2,1988,16,True,False,False,False,True,senna,1,2,...,0,0,81.0,3.780,3.0,0.0,0.0,0.0,c,0.0
3,1994,16,True,False,False,False,True,michael_schumacher,2,20,...,0,0,81.0,3.780,3.0,0.0,0.0,0.0,c,0.0
4,1993,16,True,False,False,False,False,prost,2,2,...,0,1,81.0,3.780,3.0,0.0,0.0,0.0,c,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,2022,5,False,False,False,False,True,mick_schumacher,15,15,...,0,0,57.0,5.412,3.0,1.0,0.0,0.0,a,0.0
15318,2022,5,False,False,False,False,True,kevin_magnussen,16,16,...,0,0,57.0,5.412,3.0,1.0,0.0,0.0,a,0.0
15319,2022,5,False,False,False,False,True,zhou,17,20,...,0,0,57.0,5.412,3.0,1.0,0.0,0.0,a,0.0
15320,2022,5,False,False,False,False,True,albon,18,9,...,0,1,57.0,5.412,3.0,1.0,0.0,0.0,a,0.0
15321,2022,5,False,False,False,False,True,latifi,19,14,...,0,1,57.0,5.412,3.0,1.0,0.0,0.0,a,0.0

In [14]:
df3.drop(['number_of_drs'], axis=1)

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,constructor_toyota,constructor_tyrrell,constructor_williams,number_of_laps,circuit_length,circuit_id_miami,circuit_id_jeddah,circuit_id_qatar,direction,circuit_id_long_beach
0,1992,16,False,False,False,False,True,mansell,1,20,...,0,0,1,81.0,3.780,0.0,0.0,0.0,c,0.0
1,1995,17,False,False,False,False,False,michael_schumacher,3,15,...,0,0,0,81.0,3.780,0.0,0.0,0.0,c,0.0
2,1988,16,True,False,False,False,True,senna,1,2,...,0,0,0,81.0,3.780,0.0,0.0,0.0,c,0.0
3,1994,16,True,False,False,False,True,michael_schumacher,2,20,...,0,0,0,81.0,3.780,0.0,0.0,0.0,c,0.0
4,1993,16,True,False,False,False,False,prost,2,2,...,0,0,1,81.0,3.780,0.0,0.0,0.0,c,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15317,2022,5,False,False,False,False,True,mick_schumacher,15,15,...,0,0,0,57.0,5.412,1.0,0.0,0.0,a,0.0
15318,2022,5,False,False,False,False,True,kevin_magnussen,16,16,...,0,0,0,57.0,5.412,1.0,0.0,0.0,a,0.0
15319,2022,5,False,False,False,False,True,zhou,17,20,...,0,0,0,57.0,5.412,1.0,0.0,0.0,a,0.0
15320,2022,5,False,False,False,False,True,albon,18,9,...,0,0,1,57.0,5.412,1.0,0.0,0.0,a,0.0
15321,2022,5,False,False,False,False,True,latifi,19,14,...,0,0,1,57.0,5.412,1.0,0.0,0.0,a,0.0

In [15]:
df3.loc[(df3['season']==2021) & (df3['round']==20), 'circuit_id_qatar'] = 1
df3.loc[df3['circuit_id_qatar']==1,'number_of_laps'] = 57
df3.loc[df3['circuit_id_qatar']==1,'circuit_length'] = 5.38

In [16]:
df3['circuit_id_portugal'] = np.zeros(df3.shape[0])

In [17]:
df3.loc[(df3['season']==2021) & (df3['round']==3), 'circuit_id_portugal'] = 1
df3.loc[(df3['season']==2020) & (df3['round']==12), 'circuit_id_portugal'] = 1
df3.loc[df3['circuit_id_portugal']==1,'number_of_laps'] = 66
df3.loc[df3['circuit_id_portugal']==1,'circuit_length'] = 4.653

In [18]:
df3['circuit_id_italy'] = np.zeros(df3.shape[0])
df3.loc[(df3['season']==2020) & (df3['round']==9), 'circuit_id_italy'] = 1
df3.loc[df3['circuit_id_italy']==1,'number_of_laps'] = 59
df3.loc[df3['circuit_id_italy']==1,'circuit_length'] = 5.245

In [19]:
df3['circuit_id_monza'] = np.zeros(df3.shape[0])

df3.loc[(df3['season']==2013) & (df3['round']==16), 'circuit_id_monza'] = 1
df3.loc[df3['circuit_id_monza']==1,'number_of_laps'] = 53
df3.loc[df3['circuit_id_monza']==1,'circuit_length'] = 5.793

In [20]:
df3['circuit_id_buddh'] = np.zeros(df3.shape[0])

df3.loc[(df3['season']==2012) & (df3['round']==17), 'circuit_id_buddh'] = 1
df3.loc[(df3['season']==2011) & (df3['round']==17), 'circuit_id_buddh'] = 1
df3.loc[df3['circuit_id_buddh']==1,'number_of_laps'] = 60
df3.loc[df3['circuit_id_buddh']==1,'circuit_length'] = 5.125

In [21]:
df3['circuit_id_fuji'] = np.zeros(df3.shape[0])

df3.loc[(df3['season']==2008) & (df3['round']==16), 'circuit_id_fuji'] = 1

df3.loc[(df3['season']==2007) & (df3['round']==15), 'circuit_id_fuji'] = 1
df3.loc[df3['circuit_id_fuji']==1,'number_of_laps'] = 21
df3.loc[df3['circuit_id_fuji']==1,'circuit_length'] = 4.563

In [22]:
df3['circuit_id_pacific'] = np.zeros(df3.shape[0])

df3.loc[(df3['season']==1995) & (df3['round']==15), 'circuit_id_pacific'] = 1
df3.loc[(df3['season']==1994) & (df3['round']==2), ''] = 1
df3.loc[df3['circuit_id_pacific']==1,'number_of_laps'] = 83
df3.loc[df3['circuit_id_pacific']==1,'circuit_length'] = 3.703

In [23]:
df3['circuit_id_europe'] = np.zeros(df3.shape[0])
df3.loc[(df3['season']==1993) & (df3['round']==3), 'circuit_id_europe'] = 1

df3.loc[df3['circuit_id_europe']==1,'number_of_laps'] = 22
df3.loc[df3['circuit_id_europe']==1,'circuit_length'] = 4.020

In [24]:
df3['circuit_id_fair_park'] = np.zeros(df3.shape[0])
df3.loc[(df3['season']==1984) & (df3['round']==9), 'circuit_id_fair_park'] = 1

df3.loc[df3['circuit_id_fair_park']==1,'number_of_laps'] = 77
df3.loc[df3['circuit_id_fair_park']==1,'circuit_length'] = 2.1

In [25]:
df3['circuit_id_dijon_prenois'] = np.zeros(df3.shape[0])
df3.loc[(df3['season']==1984) & (df3['round']==5), 'circuit_id_dijon_prenois'] = 1
df3.loc[df3['circuit_id_dijon_prenois']==1,'number_of_laps'] = 77
df3.loc[df3['circuit_id_dijon_prenois']==1,'circuit_length'] = 2.1

In [26]:
df3['circuit_id_rio'] = np.zeros(df3.shape[0])
df3.loc[(df3['season']==1984) & (df3['round']==3), 'circuit_id_rio'] = 1

df3.loc[df3['circuit_id_rio']==1,'number_of_laps'] = 77
df3.loc[df3['circuit_id_rio']==1,'circuit_length'] = 2.1

In [52]:
df3 = df3.drop(columns=['','number_of_drs'])

In [57]:
dir_df = pd.get_dummies(df3['direction'], dummy_na = True, prefix = "direction").rename(columns = {"NaN":"8"})

In [63]:
df3 = df3.merge(dir_df, left_index=True, right_index=True).drop(columns=['direction'])

In [66]:
df3.to_csv("FULL_F1_DF.csv")