# Feature Engineering - SMA of Podium Rank for Nationalities

remember to eliminate index

constructor

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./FULL_F1_DF.csv')

In [3]:
df.head()

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_buddh,circuit_id_fuji,circuit_id_pacific,circuit_id_europe,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan
0,1992,16,False,False,False,False,True,mansell,1,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,1995,17,False,False,False,False,False,michael_schumacher,3,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
2,1988,16,True,False,False,False,True,senna,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
3,1994,16,True,False,False,False,True,michael_schumacher,2,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
4,1993,16,True,False,False,False,False,prost,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

# Initial Processing

### Order data by season and round

In [4]:
df['timestamp'] = df['season'] + df['round'].div(100)

In [5]:
df = df.sort_values('timestamp')

### Undo One-Hot Encode for Nationality

In [6]:
nats = [n for n in df.columns if n.startswith('nationality')]
nats

['nationality_American',
 'nationality_Australian',
 'nationality_Austrian',
 'nationality_Belgian',
 'nationality_Brazilian',
 'nationality_British',
 'nationality_Canadian',
 'nationality_Danish',
 'nationality_Dutch',
 'nationality_Finnish',
 'nationality_French',
 'nationality_German',
 'nationality_Italian',
 'nationality_Japanese',
 'nationality_Mexican',
 'nationality_Russian',
 'nationality_Spanish',
 'nationality_Swedish']

In [7]:
df_nats = df[nats]
df_nats

,nationality_American,nationality_Australian,nationality_Austrian,nationality_Belgian,nationality_Brazilian,nationality_British,nationality_Canadian,nationality_Danish,nationality_Dutch,nationality_Finnish,nationality_French,nationality_German,nationality_Italian,nationality_Japanese,nationality_Mexican,nationality_Russian,nationality_Spanish,nationality_Swedish
2669,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2645,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2647,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2648,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2649,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15035,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
15049,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
15038,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
15046,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
280,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [8]:
df['nationality'] = df_nats.idxmax(1)
df

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_pacific,circuit_id_europe,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,timestamp,nationality
2669,1983,1,False,False,True,False,False,manfred_winkelhock,25,14,...,0.0,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_German
2645,1983,1,False,False,True,False,False,keke_rosberg,1,15,...,0.0,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_Finnish
2647,1983,1,False,False,True,False,False,tambay,3,4,...,0.0,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_French
2648,1983,1,False,False,True,False,False,piquet,4,1,...,0.0,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_Brazilian
2649,1983,1,False,False,True,False,False,warwick,5,7,...,0.0,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15035,2022,22,True,False,False,False,False,hamilton,5,18,...,0.0,0.0,0.0,0.0,0.0,1,0,0,2022.22,nationality_British
15049,2022,22,True,False,False,False,False,latifi,20,19,...,0.0,0.0,0.0,0.0,0.0,1,0,0,2022.22,nationality_Canadian
15038,2022,22,True,False,False,False,False,vettel,9,10,...,0.0,0.0,0.0,0.0,0.0,1,0,0,2022.22,nationality_German
15046,2022,22,True,False,False,False,False,gasly,17,14,...,0.0,0.0,0.0,0.0,0.0,1,0,0,2022.22,nationality_French
280,2022,22,True,False,False,False,False,max_verstappen,1,1,...,0.0,0.0,0.0,0.0,0.0,1,0,0,2022.22,nationality_Dutch

# Creating Moving Averages

We will split the dataframe apart into single nationality dataframes, create SMA's for each nationality's podium rankings, then merge them back together.
Since the rolling average doesn't work for the first 30 entries, we'll just impute the ordinary mean at first.

In [9]:
df_final = df[0:0]
df_final['podium_SMA_nationality'] = None
df_final.head()

df_temp = df[0:0]
df_temp['podium_SMA_nationality'] = None

In [10]:
final_cols = list(df_final.columns)
temp_cols = list(df_temp.columns)
for i in range(0,len(final_cols)):
    print(final_cols[i] == temp_cols[i])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [11]:
nats

['nationality_American',
 'nationality_Australian',
 'nationality_Austrian',
 'nationality_Belgian',
 'nationality_Brazilian',
 'nationality_British',
 'nationality_Canadian',
 'nationality_Danish',
 'nationality_Dutch',
 'nationality_Finnish',
 'nationality_French',
 'nationality_German',
 'nationality_Italian',
 'nationality_Japanese',
 'nationality_Mexican',
 'nationality_Russian',
 'nationality_Spanish',
 'nationality_Swedish']

In [12]:
for nationality in nats:
    df_temp = df.loc[df[nationality] == 1]
    df_temp['podium_SMA_nationality'] = df_temp['podium'].rolling(30).mean()
    df_temp = df_temp.fillna(df_temp['podium'].head(30).mean())

    df_temp = df.loc[df[nationality] == 1]
    df_temp['podium_SMA_nationality'] = df_temp['podium'].rolling(30).mean()
    df_temp = df_temp.fillna(df_temp['podium'].head(30).mean())
    df_final = pd.concat([df_final, df_temp], axis=0)

C:\Users\leeev\AppData\Local\Temp\ipykernel_72076\2903373907.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['podium_SMA_nationality'] = df_temp['podium'].rolling(30).mean()
C:\Users\leeev\AppData\Local\Temp\ipykernel_72076\2903373907.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['podium_SMA_nationality'] = df_temp['podium'].rolling(30).mean()

In [13]:
df_final['nationality'].unique()

array(['nationality_American', 'nationality_Australian',
       'nationality_Austrian', 'nationality_Belgian',
       'nationality_Brazilian', 'nationality_British',
       'nationality_Canadian', 'nationality_Danish', 'nationality_Dutch',
       'nationality_Finnish', 'nationality_French', 'nationality_German',
       'nationality_Italian', 'nationality_Japanese',
       'nationality_Mexican', 'nationality_Russian',
       'nationality_Spanish', 'nationality_Swedish'], dtype=object)

In [14]:
# df_final = df_final.sort_values('timestamp')

In [15]:
df_final

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_europe,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,timestamp,nationality,podium_SMA_nationality
2652,1983,1,False,False,True,False,False,cheever,8,18,...,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_American,13.566667
2665,1983,1,False,False,True,False,False,sullivan,21,10,...,0.0,0.0,0.0,0.0,1,0,0,1983.01,nationality_American,13.566667
2767,1983,2,True,False,False,False,False,cheever,15,13,...,0.0,0.0,0.0,0.0,0,0,1,1983.02,nationality_American,13.566667
2761,1983,2,True,False,False,False,False,sullivan,9,8,...,0.0,0.0,0.0,0.0,0,0,1,1983.02,nationality_American,13.566667
2548,1983,3,False,False,False,False,True,cheever,2,3,...,0.0,0.0,0.0,0.0,0,1,0,1983.03,nationality_American,13.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13838,2018,17,False,False,False,False,False,ericsson,20,12,...,0.0,0.0,0.0,0.0,0,0,1,2018.17,nationality_Swedish,14.100000
14101,2018,18,False,False,False,False,True,ericsson,16,10,...,0.0,0.0,0.0,0.0,1,0,0,2018.18,nationality_Swedish,14.066667
13902,2018,19,False,False,False,False,False,ericsson,10,9,...,0.0,0.0,0.0,0.0,0,1,0,2018.19,nationality_Swedish,13.866667
13993,2018,20,False,False,False,False,False,ericsson,6,20,...,0.0,0.0,0.0,0.0,1,0,0,2018.20,nationality_Swedish,14.066667
13798,2018,21,False,False,False,False,False,ericsson,12,18,...,0.0,0.0,0.0,0.0,1,0,0,2018.21,nationality_Swedish,14.133333

# SMA of Podium Rank for Constructor

In [16]:
df = df_final
df['timestamp'] = df['season'] + df['round'].div(100)
df = df.sort_values('timestamp')

In [17]:
cons = [n for n in df.columns if n.startswith('constructor')]
cons.remove('constructor_points')
cons.remove('constructor_wins')
cons.remove('constructor_standings_pos')
cons

['constructor_alfa',
 'constructor_arrows',
 'constructor_bar',
 'constructor_benetton',
 'constructor_brabham',
 'constructor_ferrari',
 'constructor_footwork',
 'constructor_force_india',
 'constructor_haas',
 'constructor_jaguar',
 'constructor_jordan',
 'constructor_larrousse',
 'constructor_ligier',
 'constructor_lotus_f1',
 'constructor_mclaren',
 'constructor_mercedes',
 'constructor_minardi',
 'constructor_prost',
 'constructor_red_bull',
 'constructor_renault',
 'constructor_sauber',
 'constructor_team_lotus',
 'constructor_toro_rosso',
 'constructor_toyota',
 'constructor_tyrrell',
 'constructor_williams']

In [18]:
df_cons = df[cons]
df_cons

,constructor_alfa,constructor_arrows,constructor_bar,constructor_benetton,constructor_brabham,constructor_ferrari,constructor_footwork,constructor_force_india,constructor_haas,constructor_jaguar,...,constructor_minardi,constructor_prost,constructor_red_bull,constructor_renault,constructor_sauber,constructor_team_lotus,constructor_toro_rosso,constructor_toyota,constructor_tyrrell,constructor_williams
2652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2654,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2651,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2449,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df['constructor'] = df_cons.idxmax(1)
df

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_fair_park,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,timestamp,nationality,podium_SMA_nationality,constructor
2652,1983,1,False,False,True,False,False,cheever,8,18,...,0.0,0.0,0.0,1,0,0,1983.01,nationality_American,13.566667,constructor_renault
2657,1983,1,False,False,True,False,False,angelis,13,16,...,0.0,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_team_lotus
2655,1983,1,False,False,True,False,False,alboreto,11,26,...,0.0,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_tyrrell
2654,1983,1,False,False,True,False,False,baldi,10,21,...,0.0,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_alfa
2651,1983,1,False,False,True,False,False,patrese,7,23,...,0.0,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_brabham
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15035,2022,22,True,False,False,False,False,hamilton,5,18,...,0.0,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mercedes
15036,2022,22,True,False,False,False,False,norris,7,6,...,0.0,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mclaren
2449,2022,22,True,False,False,False,False,russell,6,5,...,0.0,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mercedes
15043,2022,22,True,False,False,False,False,stroll,14,8,...,0.0,0.0,0.0,1,0,0,2022.22,nationality_Canadian,14.400000,constructor_alfa
15037,2022,22,True,False,False,False,False,ocon,8,7,...,0.0,0.0,0.0,1,0,0,2022.22,nationality_French,10.466667,constructor_alfa

In [20]:
df_final = df[0:0]
df_final['podium_SMA_constructor'] = None
df_final.head()

df_temp = df[0:0]
df_temp['podium_SMA_constructor'] = None

In [21]:
final_cols = list(df_final.columns)
temp_cols = list(df_temp.columns)
for i in range(0,len(final_cols)):
    print(final_cols[i] == temp_cols[i])

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [22]:
for constructor in cons:
    df_temp = df.loc[df[constructor] == 1]
    df_temp['podium_SMA_constructor'] = df_temp['podium'].rolling(30).mean()
    df_temp = df_temp.fillna(df_temp['podium'].head(30).mean())

    df_temp = df.loc[df[constructor] == 1]
    df_temp['podium_SMA_constructor'] = df_temp['podium'].rolling(30).mean()
    df_temp = df_temp.fillna(df_temp['podium'].head(30).mean())
    df_final = pd.concat([df_final, df_temp], axis=0)

C:\Users\leeev\AppData\Local\Temp\ipykernel_72076\1920320951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['podium_SMA_constructor'] = df_temp['podium'].rolling(30).mean()
C:\Users\leeev\AppData\Local\Temp\ipykernel_72076\1920320951.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['podium_SMA_constructor'] = df_temp['podium'].rolling(30).mean()

In [23]:
df_final['constructor'].unique()

array(['constructor_alfa', 'constructor_arrows', 'constructor_bar',
       'constructor_benetton', 'constructor_brabham',
       'constructor_ferrari', 'constructor_footwork',
       'constructor_force_india', 'constructor_haas',
       'constructor_jaguar', 'constructor_jordan',
       'constructor_larrousse', 'constructor_ligier',
       'constructor_lotus_f1', 'constructor_mclaren',
       'constructor_mercedes', 'constructor_minardi', 'constructor_prost',
       'constructor_red_bull', 'constructor_renault',
       'constructor_sauber', 'constructor_team_lotus',
       'constructor_toro_rosso', 'constructor_toyota',
       'constructor_tyrrell', 'constructor_williams'], dtype=object)

In [24]:
df_final = df_final.sort_values('timestamp')

In [25]:
df_final

,season,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,grid,podium,...,circuit_id_dijon_prenois,circuit_id_rio,direction_a,direction_c,direction_nan,timestamp,nationality,podium_SMA_nationality,constructor,podium_SMA_constructor
2654,1983,1,False,False,True,False,False,baldi,10,21,...,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_alfa,14.666667
2655,1983,1,False,False,True,False,False,alboreto,11,26,...,0.0,0.0,1,0,0,1983.01,nationality_Italian,16.700000,constructor_tyrrell,14.866667
2665,1983,1,False,False,True,False,False,sullivan,21,10,...,0.0,0.0,1,0,0,1983.01,nationality_American,13.566667,constructor_tyrrell,14.866667
2667,1983,1,False,False,True,False,False,serra,23,8,...,0.0,0.0,1,0,0,1983.01,nationality_Brazilian,10.466667,constructor_arrows,12.800000
2646,1983,1,False,False,True,False,False,prost,2,6,...,0.0,0.0,1,0,0,1983.01,nationality_French,8.533333,constructor_renault,9.466667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15035,2022,22,True,False,False,False,False,hamilton,5,18,...,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mercedes,5.600000
2449,2022,22,True,False,False,False,False,russell,6,5,...,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mercedes,5.566667
15047,2022,22,True,False,False,False,False,bottas,18,15,...,0.0,0.0,1,0,0,2022.22,nationality_Finnish,12.400000,constructor_alfa,12.833333
15036,2022,22,True,False,False,False,False,norris,7,6,...,0.0,0.0,1,0,0,2022.22,nationality_British,6.133333,constructor_mclaren,10.033333
15049,2022,22,True,False,False,False,False,latifi,20,19,...,0.0,0.0,1,0,0,2022.22,nationality_Canadian,14.600000,constructor_williams,16.233333

In [26]:
df_final.to_csv('FULL_F1_DF_SMAFEATURES.csv')